__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
build/
*.exe
*.o
*.mod
*.log
coursework/heat-diffusion/error.txt
coursework/heat-diffusion/error.pdf
coursework/heat-diffusion/Temp_*.txt
coursework/heat-diffusion/Tsensors_*.txt
coursework/n-body-openmp/src/main
coursework/n-body-openmp/src/energy.dat
coursework/n-body-openmp/src/evolution_r.dat
coursework/n-body-openmp/src/times.dat
coursework/n-body-openmp/src/position.bin
coursework/n-body-openmp/src/energy.bin
coursework/exercises/gray-scott/src/main
coursework/exercises/gray-scott/src/output_*.txt
internships/unet-dose/dataset/
internships/unet-dose/input_images/
internships/unet-dose/reconstructed_images/
internships/unet-dose/logs/
*.h5
*.keras
*.dcm
*.mhd
*.raw
.DS_Store
Thumbs.db
